@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-1 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

}

.font-2 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.font-3 {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.font-4 {
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.font-5 {
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.font-Subtitle-Bold {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.font-Subtitle {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.font-body {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.font-Body-Bold {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.font-BUTTON-1 {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.05rem
}

.font-BUTTON-2 {
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0125rem;
}

.font-over-line {
    font-family: "Open Sans";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00938rem;
}

.ls-1 {
    letter-spacing: 1px;
}

.b1 {
    color: #E4F2FC
}

.b2 {
    color: #BEDFF8
}

.b3 {
    color: #97CCF4
}

.b4 {
    color: #71B8EF
}

.b5 {
    color: #56A8EC
}

.b6 {
    color: #419AE9
}

.b7 {
    color: #3A8CDB
}

.b8 {
    color: #2C6AB7
}

.b9 {
    color: #1E4C99
}

.g1 {
    color: #737373
}

.g2 {
    color: #A3A3A3
}

.g3 {
    color: #BDBDBD
}

.g4 {
    color: #D4D4D4
}

.g5 {
    color: #E5E5E5
}

.g6 {
    color: #EEEEEE
}

.black02 {
    color: #404040;
}

.red {
    color: #FF5C56;
}

.white {
    color: #ffffff;
}

.bgb1 {
    background-color: #E4F2FC
}

.bgb2 {
    background-color: #BEDFF8
}

.bgb3 {
    background-color: #97CCF4
}

.bgb4 {
    background-color: #71B8EF
}

.bgb5 {
    background-color: #56A8EC
}

.bgb6 {
    background-color: #419AE9
}

.bgb7 {
    background-color: #3A8CDB
}

.bgb8 {
    background-color: #2C6AB7
}

.bgb9 {
    background-color: #1E4C99
}

.bgg1 {
    background-color: #737373
}

.bgg2 {
    background-color: #A3A3A3
}

.bgg3 {
    background-color: #BDBDBD
}

.bgg4 {
    background-color: #D4D4D4
}

.bgg5 {
    background-color: #E5E5E5
}

.bgg6 {
    background-color: #EEEEEE
}

.bgg6-opacity {
    background-color: rgba(238, 238, 238, 0.4)
}

.bgblack02 {
    background-color: #404040;
}

.bgred {
    background-color: #FF5C56;
}

.bgwhite {
    background-color: #ffffff;
}

.bdg4 {
    border: 1px solid #D4D4D4
}

.bdg5 {
    border: 1px solid #E5E5E5
}

.bdb6 {
    border: 1px solid #419AE9
}

.bdb8 {
    border: 1px solid #2C6AB7
}

.bdeb8 {
    border-right: 1px solid #2C6AB7
}

.bdbb8 {
    border-bottom: 1px solid #2C6AB7
}

.w-49 {
    width: 49%;
}

.w-97 {
    width: 97%
}

.w-64px {
    width: 64px;
}

.w-130px {
    width: 130px;
}

.w-500px {
    width: 31.25rem;
}

.h-50px {
    height: 50px;
}

.h-64px {
    height: 64px;
}

.h-700px {
    height: 43.75rem;
}

.ms-10px {
    margin-left: .625rem;
}

.me-12px {
    margin-right: .75rem;
}

.me-64px {
    margin-right: 4rem;
}


.mt-60px {
    margin-top: 3.75rem;
}

.headshot {
    width: 2rem;
    height: 2rem;
}

header {
    border-bottom: 0.5px solid #E5E5E5;
}

li {
    list-style: none;
}

.form-control {
    margin-bottom: 1rem;
}

.card-hoverb2:hover {
    background: rgba(190, 223, 248, 0.2);
}

.map-container {
    height: 70vh;
    overflow: hidden;
}

.map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
}

.map-image {
    display: block;
    user-select: none;
    pointer-events: none;
}




/* 熱區群組（可移動的定位點） */
.poi {
    position: absolute;
    /* 用百分比定位在圖上 */
    transform: translate(-50%, -50%);
    /* 以中心對準 left/top 百分比 */
    left: 80% !important;
    top: 66% !important;
}

.hotspot {
    width: 200px;
    height: 350px;
    /* 依房間大小調整 */
    /* background: rgba(255, 92, 86, .1); */
    transition: box-shadow .15s ease;
}

.hotspot:hover .card {
    display: block;
}

/* 浮出的卡片（預設隱藏，hover 熱區才顯示） */
.room-card {
    position: absolute;
    left: 100%;
    top: 0;
    /* 從父層熱區抓位置 */
    margin-left: .75rem;
    /* 與熱區間距 */
    width: 360px;
    background: #fff;
    border-radius: .5rem;
    border: 1px solid #eee;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    /* 只在顯示時可互動，避免擋到拖曳 */
    transform: translateY(8px);
    transition: opacity .15s ease, transform .15s ease, visibility 0s .15s;
    pointer-events: none;
    /* 可以點擊 */
}

/* :has() 是 CSS 的「父選擇器」，讓父元素可以根據子元素的狀態改變樣式。這確保了當使用者想點擊卡片上的按鈕時，卡片不會突然消失 */
.poi:hover .room-card,
.poi:has(.room-card:hover) .room-card {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .15s ease, transform .15s ease, visibility 0s;
    pointer-events: auto;
}

/* 清空bs nav的預設 */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
}

.navbar-brand,
.nav-link {
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 24px;
    position: relative;
}

/* 清空bs nav的預設end */

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-brand:active {
    color: #1E4C99
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 4px;
    /* 靠文字底部 */
    left: 50%;
    /* 從中間開始 */
    transform: translateX(-50%);
    /* 永遠置中 */
    width: calc(100% - 30px);
    /* 比文字多 10px，左右各多 5px */
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.nav-link:hover::after {
    background-color: #1E4C99;

}

.nav-link:hover,
.nav-link:focus,
.nav-link:visited,
.nav-link:active {
    color: #1E4C99;
}

/* 清空.btn-outline-primary的預設 */
.btn-outline-primary {
    color: #2C6AB7;
    border-color: #2C6AB7;
}

.btn-outline-primary.active {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
}

.btn-outline-primary:hover {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
    color: #fff;
}

/* 清空.btn-outline-secondary 的預設 */
.btn-outline-secondary {
    color: #2C6AB7;
    border-color: #2C6AB7;
}

.btn-outline-secondary.active {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
}

.btn-outline-secondary:active {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
}

.btn-outline-secondary:hover {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
    color: #fff;
}

/* 清空.btn-primary 的預設 */
.btn-primary {
    background-color: #2C6AB7;
    border-color: #2C6AB7;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
/* .btn-primary:visited, */
.btn-primary:active {
    background-color: #3A8CDB;
    border-color: #3A8CDB;
}